<% content_for :page_name, "Categories" %>
<% content_for :back_path, root_path%>
<ul>
<% @groups.each do |category|%>
<%= link_to category do %>
<li>
<%= render "shared/category", category: category%>
</li>
<% end %>
<%end%>
</ul>
<%= button_to "Add Category", new_group_path, method: :get %>
