<% content_for :back_path, root_path%>
<% content_for :page_name, "CATEGORIES" %>
<% content_for :nav_button do%>
<%= button_to "Logout", destroy_user_session_path, method: :delete,class: "nav-link text-white" %>
<%end%>
<ul class="list-group">
<% @groups.each do |category|%>
<%= link_to category do %>
<li>
<%= render "shared/category", category: category%>
</li>
<% end %>
<%end%>
</ul>

<div class="btn-container">
<%= button_to "Add Category", new_group_path, method: :get, class: "btn btn-style btn-lg" %>
</div>




