<ul>
<% @products.each do |product|%>
<div>
<h2><%= product.name %></h2>
<div><%= product.amount %></div>
<div><%=product.created_at.strftime('%Y-%b-%d')%></div>
<div>Total</div> 
</div>
<% end %>
</ul>
<%= button_to "Add transition", new_group_product_path(@group), method: :get %>