<div>
<%= image_tag category.icon, alt: "#{category.name} icon"%>
<h2><%= category.name %></h2>
<div><%=category.created_at.strftime('%d %b %Y')%></div>
<div><%=category.products.sum {|product| product[:amount]}%></div> 
</div>