<div class="splash-container">
  <div class="splash-title-container">
    <h1 class="splash-title">SavEarly</h1>
  </div>
  <div class="splash-btn">
    <div class="d-grid gap-2 mt-5" style="width: 100%;">
      <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

